.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    z-index: 10;
    &.active {
      display: block;
    }

    &::before {
        content: "";
        background: #000000;
        opacity: 0.7;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 104;
    }
    &__title {
        color: #000;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 24px;
        @media (max-width: 539px) {
            font-size: 26px;
            margin-bottom: 10px;
        }
    }
    & input {
        width: 100%;
    }
    &__subtitle {
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        font-weight: 500;
        @media (max-width: 539px) {
            font-size: 13px;
            margin-bottom: 8px;
        }
    }
  }
  .popup__content {
    position: relative;
    background: #fff;
    border-radius: 8px;
    padding: 35px 15px 20px;
    width: 95%;
    max-width: 450px;
    z-index: 105;
    @media (max-width: 539px) {
        padding: 35px 15px 38px;
    }
  }
  .popup__body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    min-height: 100%;
  }
  .popup-close {
    // border-radius: 50%;
    // background: url(../img/icons/close.svg);
    // width: 29px;
    // height: 29px;
    // background-size: 23px;
    // background-repeat: no-repeat;
    // background-position: center;
    right: 25px;
    top: 25px;
    z-index: 105;
    position: absolute;
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        transform: scale(1.1);
    }
    @media (max-width: 539px) {
        width: 20px;
        height: 20px;
        right: 10px;
        top: 10px;
    }
  }
.popup__btn {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 63px;
    margin: 0 auto;
    @media (max-width: 539px) {
        padding: 13px 34px;
        font-size: 13px;
    }
}
.popup-record {
    & .preview__form  {
        padding: 0px;
    }
    & .popup__content {
        padding: 45px 40px 35px 40px;
        @media (max-width: 539px) {
            padding: 35px 15px 38px;
        }
    }
}
.popup-vnj {
    & .preview__form  {
        @media (max-width: 899px) {
            flex: 1;
        }
        @media (max-width: 539px) {
            padding: 35px 15px 38px;
            border-radius: 15px;
        }
    }
}
.popup {

    &__label-list {
        padding-bottom: 10px;

    }

    &__label-list-item {
        cursor: pointer;
        display: block;
        @media (max-width: 539px) {
            padding: 8px 12px 6px;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        & span {
            color: #000;
            font-family: Montserrat;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: block;
            margin-bottom: 5px;
            @media (max-width: 539px) {
                font-size: 8px;
                font-weight: 500;
                margin-bottom: 1px;
            }
        }
        & input {
            color: rgba(25, 101, 124, 0.80);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @media (max-width: 539px) {
                font-size: 12px;
            }
            &::placeholder {
                font-size: 14px;
                color: rgba(25, 101, 124, 0.60);
            }
        }
        & textarea {
            resize: none;
            padding: 15px;
            height: 100px;
            margin-bottom: 15px;
            width: 100%;
            background: #eee;
        }
    }
}
.popup__lead {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    & a {
        text-decoration: underline;
        transition: .2s;
        &:hover {
            text-decoration: none;
        }
    }
}

.number-seats {
    display: flex;
    gap: 23px;
    align-items: center;
    & .popup__label-list-item {
        flex: 0 0 50%;
        margin-bottom: 0px;
    }
}
.number-seats__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (max-width: 539px) {
        gap: 4px;
    }
}
.number-seats__info-item {
    color: rgba(25, 101, 124, 0.60);
    font-size: 10px;
    font-weight: 500;
    & b {
        color: rgba(25, 101, 124, 0.80);
    }
}

.vnj {
    & .popup__content {
        background: #f4f5f6;
        max-width: 960px;
        padding: 50px;
        border-radius: 0px;
        @media (max-width: 899px) {
            padding: 40px 15px 20px 15px;
        }
    }
    & .popup__title {
        text-align: start;
        margin-bottom: 50px;
        font-weight: 300;
        text-transform: uppercase;
        @media (max-width: 899px) {
            margin-bottom: 0px;
        }
        @media (max-width: 539px) {
            font-size: 24px;
        }
    }
}

.vnj {
    display: block;
    transition: .5s;
    top: 100%;
    &.active {
        top: 0;
        &::before {
            opacity: 0.7;
            top: 0;
            z-index: 104;
            pointer-events: all;
        }
    }
    &::before {
        transition: .4s;
        opacity: 0;
        pointer-events: none;
        z-index: -100;
    }
    &__keep {
        display: flex;
        gap: 40px;
        @media (max-width: 899px) {
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    &__text {
        @media (max-width: 899px) {
            flex: 0 0 100%;
        }
        & p {
            color: #262626;
            font-size: 15px;
            opacity: 0.7;
            font-weight: 300;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }


    &__form {
        height: fit-content;
        flex: 0 0 390px;
        background: #092333;
        padding: 30px;
        @media (max-width: 899px) {
            flex: 0 0 100%;
            padding: 30px 15px;
        }
        & input, textarea {
            background: #fff;
            margin-bottom: 15px;
        }
        & input {
        }
        & textarea {
            resize: none;
            width: 100%;
            height: 100px;
            border-radius: 16px;
            padding: 10px 17px;
        }
    }

    &__form-title {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
        & span {
            display: block;
            font-weight: 400;
        }
    }

    &__form-submit-btn {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px 10px;
    }

    &__form-agreement {
        color: #ffffff;
        font-size: 10px;
        text-align: center;
        font-weight: 300;
        opacity: 0.6;
    }
}

.popup-close_blue {
    top: 10px;
    right: 10px;
    & img {
        width: 40px;
        height: 40px;
    }
}

.popup-video {
    & .popup__content {
        max-width: 900px;
        height: 100vh;
        max-height: 600px;
        min-height: 450px;
        padding: 50px 15px 10px;
    }
}